@page "/http"
@inject HttpClient Http

<h3>Google Response</h3>

<p>@_response</p>

@code {
    private string _response;

    protected override async Task OnInitializedAsync ()
    {
        try
        {
            var response = await Http.GetAsync ("http://www.google.com");
            _response = await response.Content.ReadAsStringAsync ();
        }
        catch (Exception ex)
        {
            _response = ex.Message;
        }
    }
}
