.reactions-tooltip {
    display: none;
    position: absolute;
    z-index: 100;
    padding: 10pt;

    background: #f8f7f7;
    border: solid 1pt #c8ccd5;
    border-radius: 15pt;
}

.reactions-tooltip > div {
    display: flex;
}

.reactions-tooltip p {
    margin-block-start: 0;
    margin-block-end: 0;

    font-size: larger;
}

.reactions-tooltip img {
    height: 24pt;
}

.reactions-tooltip button {
    border: none;
    background: none;

    padding: 0 1pt;
}