* {
	font-family: 'Sahel', sans-serif;
}

::selection {
	color: #ffffff;
	background-color: #BB1136;
}

body {
	background: #eef2f8;
	margin: 0 auto;
}

p {
	display: block;
	text-align: justify;
}

.shadow-box,
.shadow-box-nohover,
.popup {
	border: #002642 solid 2px;
	padding: 6px;
	background: white;
	border-radius: 15pt;
	box-shadow: 0px 3pt 0px rgba(112, 112, 112, 0.5);
	transition: all 200ms ease;
}

	.shadow-box:focus-within {
		box-shadow: 0px 4pt 0px #002642;
	}

.popup {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
	width: fit-content;
}

.center-justify {
	text-align: justify;
	max-width: 40vw;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.center-justify {
		max-width: none !important;
	}
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	max-width: 1440px !important;
	padding-left: 6vw;
	padding-right: 6vw;
	margin: 0 auto !important;
}

.button-filled,
.button-primary,
.button-gold,
.button-primary-inline {
	align-items: center;
	padding: 7px 15px 7px 15px;
	border-radius: 100pt;
	box-shadow: 0px 3pt 0px #b4b4b5;
	transition: all 200ms ease;
	border: none;
	width: fit-content;
}

.button-filled,
.button-primary,
.button-gold {
	display: flex;
	margin: 25pt auto;
}

	.button-primary p,
	.button-filled p,
	.button-gold p {
		font-size: 13pt;
	}

.button-filled {
	background: #002642;
}

	.button-filled:active,
	.button-primary:active,
	.button-primary-inline:active,
	.button-gold:active {
		box-shadow: 0px 0pt 0px #b4b4b5;
		transform: translateY(5pt);
	}

.button-gold:active {
	border: #facc6b 1.5pt solid;
	background: #ffffff;
}

.button-filled:active {
	background: #bb1136;
	text-decoration: none;
}

.button-filled img,
.button-primary img,
.button-primary-inline img,
.button-gold img {
	margin-left: 7pt;
	height: 20pt;
}

.button-filled *,
.button-primary *,
.button-gold *,
.button-primary-inline * {
	margin-block-start: 0;
	margin-block-end: 0;
}

.button-filled p {
	color: white;
}

.button-gold {
	border: black 1.5pt solid;
	background-color: #facc6b;
}

button {
	cursor: pointer;
}

.button-primary,
.button-primary-inline {
	border: #002642 1.5pt solid;
	background: white;
}

	.button-primary:active,
	.button-primary-inline:active {
		border: #bb1136 1.5pt solid;
	}

h2.center {
	margin: 50pt auto 20pt auto;
}

.forum {
	display: flex;
	background: white;
	border-radius: 20pt;
	align-items: center;
	padding: 10pt 10pt;
	border: #002642 solid 2.5pt;
	box-shadow: 0px 5pt 0px #b4b4b5;
	cursor: pointer;
	transition: all 200ms ease;
	width: fit-content;
}

	.forum:active {
		box-shadow: 0px 0pt 0px #b4b4b5;
		border: #bb1136 solid 2.5pt;
		transform: translateY(8pt);
	}

	.forum * {
		display: flex;
		flex-direction: column;
		margin: 5px;
		margin-block-start: 0;
		margin-block-end: 0;
	}

.forum-description {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-align: justify;
	max-height: 3.4em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.forum-icon {
	width: 32pt;
	height: 32pt;
}

.forum-count {
	text-align: center;
}

.forum-status {
	margin: 0 !important;
}

.forums-list {
	display: grid;
	gap: 30pt;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 1024px) {
	.forums-list {
		grid-template-columns: 1fr 1fr;
	}
}

img.topic-chat {
	width: 15pt;
	height: 15pt;
	margin-left: 10px;
	margin-right: 2px;
}

.topic-description {
	display: flex;
	align-items: top;
	margin-block-start: 0;
	margin-block-end: 0;
	max-height: 1.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
}

.topic {
	display: flex;
	cursor: pointer;
	position: relative;
	padding: 5pt 20pt 5pt 20pt;
}

	.topic::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleY(1.1);
		border-top: #002642 solid 2pt;
		border-bottom: #002642 solid 2pt;
		transform-origin: center top;
		z-index: -1;
		transition: all 200ms;
		transform-origin: center center;
	}

	.topic:active::before {
		transform: scaleY(0.95);
		transform-origin: center center;
		border-top: #bb1136 solid 2pt;
		border-bottom: #bb1136 solid 2pt;
	}

.button-primary img,
.button-filled img {
	width: 20pt;
	height: 20pt;
}

.forum-eclipse {
	width: 56px;
	height: 56px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #5c92dd;
}

	a:active {
		color: #bb1136;
		text-decoration: underline;
	}

.title {
	margin-block-start: 5pt;
}

@media screen and (max-width: 1024px) {
	.desktop-only {
		display: none !important;
	}
}

/* AI Generated*/
.button-bubble,
.button-bubble-static,
.button-bubble-static-inline {
	padding: 5pt 7pt;
	align-items: center;
	cursor: pointer;
	border: var(--bwidth) solid transparent;
	border-radius: 1000pt;
	--bwidth: 1.3pt;
	outline: 0 solid transparent;
	outline-offset: calc(-1 * var(--bwidth));
}

	.button-bubble.bubble-hovered:not(:hover),
	.button-bubble-static.bubble-hovered:not(:hover),
	.button-bubble-static-inline.bubble-hovered:not(:hover) {
		animation: border-fade-out 300ms forwards;
	}


	.button-bubble.bubble-hovered:hover,
	.button-bubble-static.bubble-hovered:hover,
	.button-bubble-static-inline.bubble-hovered:hover {
		animation: border-fade-in 300ms forwards;
	}

.button-bubble-static {
	background: #f8f7f7;
}

	.button-bubble-static:disabled,
	.button-bubble-static-inline:disabled {
		cursor: no-drop;
		background: #e5e5e5;
	}

		.button-bubble-static:disabled:hover,
		.button-bubble-static-inline:disabled:hover {
			animation: none;
		}

		.button-bubble-static:disabled:not(:hover),
		.button-bubble-static-inline:disabled:not(:hover) {
			animation: none;
		}

@keyframes border-fade-out {
	0% {
		border-color: #dcdcdc;
	}

	100% {
		/*grow the outline width to cover the border*/
		outline-width: var(--bwidth);
		/*Change the border color as well makes the transition looks smoother*/
		outline-color: white;
		border-color: transparent;
	}
}

@keyframes border-fade-in {
	0% {
		outline-color: white;
		border-color: transparent;
	}

	100% {
		outline-color: transparent;
		border-color: #dcdcdc;
	}
}



/*.button-bubble-static {
    background: #f8f7f7;
}*/
/* AI Generated End*/


/*.button-bubble,
.button-bubble-static,
.button-bubble-static-inline {
    transition: all 2000ms ease;
    padding: 5pt 7pt;
    align-items: center;
    cursor: pointer;
    border: solid 1pt white;
    border-radius: 1000pt;
}

.button-bubble {
    display: flex;
    background: white;
}

.button-bubble-static {
    background: #f8f7f7;
    background: white;
}

input.button-bubble-static:focus {
    outline: none;
}

.button-bubble:hover,
.button-bubble-static:hover,
.button-bubble-static-inline:hover,
input.button-bubble-static:focus {
    background: #f8f7f7;*/
/*border: solid 1pt #c8ccd5;*/
/*border-radius: 1000pt;
    animation: bubble-border-hover 250ms ease forwards;
    animation-delay: 50ms;
}

.button-bubble-static:not(:hover) {
    animation: bubble-border-unhover 250ms ease forwards;
}

@keyframes bubble-border-hover {
    0% {
        border-color: white;
    }

    100% {
        border-color: #c8ccd5ff;
    }
}

@keyframes bubble-border-unhover {
    0% {
        border-color: #c8ccd5ff;
    }

    100% {
        border-color: white;
    }
}*/

/*.button-bubble.active {
    background: #f8f7f7;
    border: solid 1pt #c8ccd5;
    border-radius: 1000pt;
}*/

.button-bubble * {
	margin-block-start: 0;
	margin-block-end: 0;
}

.reaction-icon {
	height: 20pt;
	margin: 1pt;
}

.reactions-count {
	margin-left: 7pt;
	font-size: larger;
}

.no-block-margin {
	margin-block-start: 0;
	margin-block-end: 0;
}

.tip {
	display: flex;
	align-items: center;
	background: #d7ffde;
	border: #78c778 solid 2pt;
	padding: 8pt 16pt;
	text-align: center;
	border-radius: 10pt;
	/*width: 70vw;*/
	max-width: 800px;
	margin: 10pt auto;
}

	.tip img {
		height: 20pt;
		margin-left: 8pt;
	}


.red {
	color: red;
}

.padding-buttom {
	padding-bottom: 10pt;
}

.horizontal-align {
	display: flex;
	align-items: center;
}

.tiny-icon {
	height: 32px;
	padding-left: 8px;
}

.center-flex {
	display: flex;
	justify-content: center;
}

.g-recaptcha {
	margin: 10px;
}

/*.form-inputs > * {
    margin: 0 5pt 10pt 5pt;

    width: 100%;
}
*/
/*.form-input {
    align-items: center;
}

    .form-input > * {
        width: 100%;
        margin: 5pt;
    }*/

.input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

	.input-group label {
		margin-left: 20px; /* Adjust this value to increase or decrease the space between the label and the input */
	}


.hidden {
	display: none !important;
}

.form-errors {
	list-style-type: none;
	text-align: center;
	padding-inline-start: 0;
}
