@inherits LayoutComponentBase

<PageTitle>برگه</PageTitle>

<header>
    <div class="header-content">
        <div class="logo-name-links">
            <a href="/" class="logo-name-links">
                <img src="img/Logo11-07.svg" alt="لوگوی برگه" class="logo-header">
                <span class="title-header">برگه</span>
            </a>
            <div class="header-navlinks">
                <a class="header-navlink">انجمن‌ها</a>
                <a class="header-navlink">گفت و گوها</a>
            </div>
        </div>
        <div class="shadow-box search-bar">
            <img src="img/Search.svg" alt="علامت ذره‌بین" class="search-icon">
            <input type="text" class="search-input" placeholder="جست و جو در انجمن‌ها و گفت و گوها...">
        </div>
        <div class="header-buttons">
            <button class="shadow-box mobile-search" type="button">
                <img src="img/Search.svg" alt="ذره‌بین" class="header-icon">
            </button>
            <button class="shadow-box" type="button">
                <img src="img/User.svg" alt="کاربر" class="header-icon">
            </button>
        </div>
    </div>
</header>

@Body

<div class="search-overlay">
    <div class="search-container">
        <div class="shadow-box search-bar">
            <img src="img/Search.svg" alt="علامت ذره‌بین" class="search-icon">
            <input type="text" class="search-input" placeholder="جست و جو در انجمن‌ها و گفت و گوها...">
            <button class="search-close">بستن</button>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="footer-info">
            <img src="img/Logo11-07-White.svg" class="logo-header" alt="لوگوی سفید">
            <span class="footer-title">برگه</span>
            <img class="footer-bullet desktop-only" src="img/Circle.svg" alt="دایره‌ی جداکننده">
            <p class="desktop-only">در حال توسعه توسط متین محمدی و مشارکت‌کنندگان متن باز</p>
        </div>
        <div class="footer-links">
            <a>اطلاعات</a> <img class="footer-bullet" src="img/Circle.svg" alt="دایره‌ی جداکننده">
            <a>
                حریم
                خصوصی
            </a>
            <img class="footer-bullet" src="img/Circle.svg" alt="دایره‌ی جداکننده"> <a>شرایط استفاده</a>
        </div>
    </div>
</footer>