@page "/User/{Username}"
@using Bargeh.Main.Wapp.Client.Infrastructure
@using Grpc.Core
@using Users.Api
@inject NotFoundListener NotFoundService
@inject UsersProto.UsersProtoClient UsersService
@inject ILogger<User> Logger
@inject PersistentComponentState ApplicationState
@implements IDisposable

@if(_user is not null)
{
	<div class="cover" style="background-image: url('/img/@(_user.Cover).webp')"></div>

	<div class="container">
	<div class="profile">
		<img alt="تصویر نمایه" src="img/@(_user.Avatar).webp">
		<h1 class="center"><a href="/User/matin">@@@_user.Username</a> متین محمدی</h1>
		<p>@@_user.Followers دنبال‌کننده</p>
		<p class="center-justify">
			اگه شما فهمیدین من چرا تو این سایت ثبت نام کردم، یه لطفی کنید به خودمم بگید. خیلی
			وقته دنبال جوابش هستم
		</p>
		<button class="button-filled" type="button">
			<img alt="دنبال‌کردن" src="img/UserPlus.svg">
			<p>دنبال کردن</p>
		</button>
	</div>

	<h2>انجمن‌های متین محمدی</h2>

	<div class="forums-list">
		<div class="forum">
			<img alt="دایره" class="forum-eclipse" src="img/Eclipse.svg">
			<div>
				<strong>انجمن برنامه‌نویسان</strong>
				<p class="forum-description">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
					از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
					شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
					زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
					افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
					فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
					سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
					دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.ر...
				</p>
			</div>
			<div class="forum-status">
				<img alt="کاربر" class="forum-icon" src="img/RedUser.svg">
				<p class="forum-count">۲۰</p>
			</div>
			<div class="forum-status">
				<img alt="حمایت" class="forum-icon" src="img/RedSupport.svg">
				<p class="forum-count">۴۳</p>
			</div>
			<div class="forum-status">
				<img alt="گفت و گو" class="forum-icon" src="img/RedChatMultiple.svg">
				<p class="forum-count">۱۰۰۰</p>
			</div>
		</div>
		<div class="forum">
			<img alt="دایره" class="forum-eclipse" src="img/Eclipse.svg">
			<div>
				<strong>انجمن برنامه‌نویسان</strong>
				<p class="forum-description">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
					از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
					شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
					زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
					افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
					فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
					سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
					دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.ر...
				</p>
			</div>
			<div class="forum-status">
				<img alt="کاربر" class="forum-icon" src="img/RedUser.svg">
				<p class="forum-count">۲۰</p>
			</div>
			<div class="forum-status">
				<img alt="حمایت" class="forum-icon" src="img/RedSupport.svg">
				<p class="forum-count">۴۳</p>
			</div>
			<div class="forum-status">
				<img alt="گفت و گو" class="forum-icon" src="img/RedChatMultiple.svg">
				<p class="forum-count">۱۰۰۰</p>
			</div>
		</div>
		<div class="forum">
			<img alt="دایره" class="forum-eclipse" src="img/Eclipse.svg">
			<div>
				<strong>انجمن برنامه‌نویسان</strong>
				<p class="forum-description">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
					از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
					شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای
					زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم
					افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان
					فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
					سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل
					دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.ر...
				</p>
			</div>
			<div class="forum-status">
				<img alt="کاربر" class="forum-icon" src="img/RedUser.svg">
				<p class="forum-count">۲۰</p>
			</div>
			<div class="forum-status">
				<img alt="حمایت" class="forum-icon" src="img/RedSupport.svg">
				<p class="forum-count">۴۳</p>
			</div>
			<div class="forum-status">
				<img alt="گفت و گو" class="forum-icon" src="img/RedChatMultiple.svg">
				<p class="forum-count">۱۰۰۰</p>
			</div>
		</div>
	</div>

	<div class="footer-info">
		<h2>گفت و گوهای متین محمدی</h2>
		<div class="shadow-box secondary-search-bar footer-links">
			<img alt="علامت ذره‌بین" class="search-icon" src="img/Search.svg">
			<input class="search-input" placeholder="جست و جو در گفت و گوهای متین محمدی..." type="text">
		</div>
	</div>

	<div class="forums-list">
		<div class="topic">
			<div>
				<strong>بهترین سایت آموزش برنامه‌نویسی</strong> در انجمن برنامه‌نویسان
				<p class="topic-description">
					۳۲
					<img alt="گفته‌ها" class="topic-chat"
						 src="img/ChatSingle.svg">بچه‌ها
					واسه
					شروع برنامه‌نویسی چه سایتی خوبه واقعا؟ خیلی دوره‌ها رو دیدم ولی واقعا آشغال بودن
				</p>
			</div>
		</div>
		<div class="topic">
			<div>
				<strong>بهترین سایت آموزش برنامه‌نویسی</strong> در انجمن برنامه‌نویسان
				<p class="topic-description">
					۳۲
					<img alt="گفته‌ها" class="topic-chat"
						 src="img/ChatSingle.svg">بچه‌ها
					واسه
					شروع برنامه‌نویسی چه سایتی خوبه واقعا؟ خیلی دوره‌ها رو دیدم ولی واقعا آشغال بودن
				</p>
			</div>
		</div>
		<div class="topic">
			<div>
				<strong>بهترین سایت آموزش برنامه‌نویسی</strong> در انجمن برنامه‌نویسان
				<p class="topic-description">
					۳۲
					<img alt="گفته‌ها" class="topic-chat"
						 src="img/ChatSingle.svg">بچه‌ها
					واسه
					شروع برنامه‌نویسی چه سایتی خوبه واقعا؟ خیلی دوره‌ها رو دیدم ولی واقعا آشغال بودن
				</p>
			</div>
		</div>
		<div class="topic">
			<div>
				<strong>بهترین سایت آموزش برنامه‌نویسی</strong> در انجمن برنامه‌نویسان
				<p class="topic-description">
					۳۲
					<img alt="گفته‌ها" class="topic-chat"
						 src="img/ChatSingle.svg">بچه‌ها
					واسه
					شروع برنامه‌نویسی چه سایتی خوبه واقعا؟ خیلی دوره‌ها رو دیدم ولی واقعا آشغال بودن
				</p>
			</div>
		</div>
		<div class="topic">
			<div>
				<strong>بهترین سایت آموزش برنامه‌نویسی</strong> در انجمن برنامه‌نویسان
				<p class="topic-description">
					۳۲
					<img alt="گفته‌ها" class="topic-chat"
						 src="img/ChatSingle.svg">بچه‌ها
					واسه
					شروع برنامه‌نویسی چه سایتی خوبه واقعا؟ خیلی دوره‌ها رو دیدم ولی واقعا آشغال بودن
				</p>
			</div>
		</div>
	</div>

	<div class="footer-info">
		<h2>برگه‌های متین محمدی</h2>
		<div class="shadow-box secondary-search-bar footer-links">
			<img alt="علامت ذره‌بین" class="search-icon" src="img/Search.svg">
			<input class="search-input" placeholder="جست و جو در برگه‌های متین محمدی..." type="text">
		</div>
	</div>

	<div class="posts-list">
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	<div class="splide__slide shadow-box-nohover">
		<p class="post-text no-block-margin">
			لورم ایپسوم یک متن آزمایشی و بی‌معنی است که در صنعت چاپ و طراحی
			گرافیک استفاده می‌شود. این متن به
			طور معمول برای نمایش چاپی و ترتیب موقعیت حروف و کاراکترها در طراحی‌های گرافیکی به کار می‌رود.
			هدف اصلی مقاله‌ها و ارائه‌های متنی این است که مخاطب را با محتوای متن آشنا سازد، نه آنکه نظر خاصی
			را درباره محتوا ارائه دهد.
		</p>

		<div class="post-attachment">
			<div>
				<strong>فایل پیوست‌شده</strong>
				<p class="no-block-margin">folancheese.zip</p>
			</div>

			<img alt="فایل" class="post-file footer-links" src="img/File.svg">
		</div>

		<div class="topic-info">
			<p>توسط <a>@@@_user.Username</a></p>
			<div class="footer-links button-bubble reactions">
				<span class="reactions-count">۲۹</span>
				<img alt="پسند" class="reaction-icon" src="img/Like.svg">
				<img alt="قلب" class="reaction-icon" src="img/Love.svg">
				<img alt="چراغ" class="reaction-icon" src="img/Light.svg">
			</div>
		</div>
	</div>
	</div>
	<a class="button-primary">
		<img alt="بیشتر" src="img/More.svg">
		<p>نمایش بیشتر</p>
	</a>
	</div>
}
else
{
	<Loading/>
}

@code {

	[Parameter]
	public string Username { get; set; } = null!;

	private ProtoUser? _user;
	private PersistingComponentStateSubscription _subscription;

	protected override async Task OnInitializedAsync()
	{
		_subscription = ApplicationState.RegisterOnPersisting(PersistComponentState);

		if(string.IsNullOrWhiteSpace(Username))
		{
			NotFoundService.NotifyNotFound();
		}

		bool persistentValuesFound = ApplicationState
			.TryTakeFromJson("user", out ProtoUser? user);

		if(persistentValuesFound)
		{
			_user = user;
		}
		else
		{
			await Task.Delay(1000);

			try
			{
				_user = await UsersService.GetUserByUsernameAsync(new()
				{
					Username = Username
				});
			}
			catch(RpcException exception)
			{
				if(exception.StatusCode != StatusCode.NotFound)
				{
					throw;
				}

				NotFoundService.NotifyNotFound();
			}
		}
	}

	private Task PersistComponentState()
	{
		ApplicationState.PersistAsJson("user", _user);
		return Task.CompletedTask;
	}

	public void Dispose()
	{
		_subscription.Dispose();
	}

}

