@using Forums.Api
@using Topics.Api
@inject NavigationManager NavigationManager

<div class="topic" @onclick="NavigateToTopic">
	<div>
		<strong>@Topic.Title</strong> در @Forum.Name
		<p class="topic-description">
			۳۲
			<img src="img/ChatSingle.svg" alt="گفته‌ها"
				 class="topic-chat">@Topic.HeadPost.Body
		</p>
	</div>
</div>

@code
{
	[Parameter]
	public ProtoForum Forum { get; set; } = null!;

	[Parameter]
	public ProtoTopic Topic { get; set; } = null!;

	private void NavigateToTopic()
	{
		NavigationManager.NavigateTo($"/Topic/{Forum.Permalink}/{Topic.Permalink}");
	}
}