@using Bargeh.Main.Wapp.Client.Components
@inherits LayoutComponentBase

<PageTitle>برگه</PageTitle>

<MainHeader />

@Body

<div class="search-overlay">
    <div class="search-container">
        <div class="shadow-box search-bar">
            <img src="img/Search.svg" alt="علامت ذره‌بین" class="search-icon">
            <input type="text" class="search-input" placeholder="جست و جو در انجمن‌ها و گفت و گوها...">
            <button class="search-close">بستن</button>
        </div>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="footer-info">
            <img src="img/Logo11-07-White.svg" class="logo-header" alt="لوگوی سفید">
            <span class="footer-title">برگه</span>
            <img class="footer-bullet desktop-only" src="img/Circle.svg" alt="دایره‌ی جداکننده">
            <p class="desktop-only">در حال توسعه توسط متین محمدی و مشارکت‌کنندگان متن باز</p>
        </div>
        <div class="footer-links">
            <a>اطلاعات</a> <img class="footer-bullet" src="img/Circle.svg" alt="دایره‌ی جداکننده">
            <a>
                حریم
                خصوصی
            </a>
            <img class="footer-bullet" src="img/Circle.svg" alt="دایره‌ی جداکننده"> <a>شرایط استفاده</a>
        </div>
    </div>
</footer>