@page "/p"
@using Bargeh.Main.Wapp.Services
@inject IdentityProviderService IdentityProviderService

<h1>huh? @text</h1>

@code
{
	private string text = string.Empty;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await IdentityProviderService.GetUserIdentity ();
	}
}
