<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<base href="/"/>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/fonts/font.css">
	<link rel="stylesheet" href="/css/bargeh.css">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/topic.css">
	<link rel="stylesheet" href="css/tooltip.css">
	<link rel="stylesheet" href="css/splide-core.min.css">
	<link rel="stylesheet" href="css/userforum.css">
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/splide.min.js" defer></script>
	<script src="js/header.js" defer></script>
	<script src="js/bargeh.js" defer></script>
	<script src="js/tooltip.js" defer></script>
	<script src="js/topic.js" defer></script>
	<title>برگه</title>
	<HeadOutlet @rendermode="InteractiveAuto"/>
</head>

<body>
<Routes @rendermode="InteractiveAuto"/>
@* ReSharper disable Html.PathError *@
<script src="/_framework/blazor.web.js"></script>
@* ReSharper restore Html.PathError *@
</body>

</html>